body{
    background-image: url("./lines-of-waves-in-southeast-asia\ \(1\).jpg");
    background-size: cover;
    background-position: bottom; 
    background-repeat: no-repeat;
}

.jumbo{
    background-color: rgb(209, 234, 255);
}

.employee-card{
    margin: 5px;
    border: turquoise 3px solid;
}

.card-header{
    background-image: linear-gradient(rgb(209, 234, 255)20%, rgb(116, 189, 189)80%);
}

.list-group-item{
   background-color: rgb(152, 252, 235);
}

.card-body{
background-color:rgb(116, 189, 189);
}

.d-flex{
    flex-wrap: wrap;
}

footer{
    height: 450px;
}